{% extends "base.html" %}

{% block title %}Несовместимые предметы{% endblock %}

{% block content %}
<div class="layout">
    <div class="content">
        <h3>Список несовместимостей</h3>
        <ul>
            {% for incomp in incompatible_elements %}
                <li>
                    <strong>Несовместимость {{ incomp.id }}:</strong><br>
                    {{ incomp.element.name }} — {{ incomp.incompatible_element.name }}
                </li>
            {% empty %}
                <li>Несовместимостей пока нет</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}