{% extends "base.html" %}

{% block title %}Комнаты{% endblock %}

{% block content %}
<div class="layout">
    <div class="content">
        <h3>Список комнат</h3>
        <ul>
            {% for room in rooms %}
                <li>
                    <a href="{% url 'rooms:room_detail' room.pk %}">
                        <strong>Комната {{ room.id }}</strong><br>
                        Тип номера: {{ room.room_type.name }}
                    </a><br>
                </li>
            {% empty %}
                <li>Комнат пока нет</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}